################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/NLog.4.4.12
/BoboTech.Logger/bin
/BoboTech.Logger/obj
/BoboTech.Logger.UnitTest/bin
/BoboTech.Logger.UnitTest/obj
/packages
